<section class="column">
    <% if (message) { %><div class="box info-box"><p><%- message %></p></div><% } %>
    <% if (error) { %><div class="box error-box"><p><%- error %></p></div><% } %>
    <% if (newEvent) { %><h1>Creating Event</h1><% } else { %><h1>Editing Event: <%= event.name %></h1><% } %>

    <form method="post" action="/admin/event/<%= params.id %>" enctype="multipart/form-data" class="has-editors">
        <table class="big-form-table">
            <tr>
                <td><label for="txt_name">Name:</label></td>
                <td><input type="text" id="txt_name" name="name" value="<%= event.name %>" placeholder="<%= event.name %>" required /></td>
            </tr>
            <tr>
                <td><label for="check_big">Big event:</label><p>Controls size on the homepage</p></td>
                <td><input type="checkbox" id="check_big" name="big" <% if (event.isBig) { %>checked<% } %>></td>
            </tr>
            <tr>
                <td><label for="num_priority">Priority:</label><p>Controls ordering on the homepage</p></td>
                <td><input type="number" id="num_priority" name="priority" value="<%= event.priority %>" placeholder="<%= event.priority %>" required /></td>
            </tr>
            <tr>
                <td><label for="txt_when">When/where:</label></td>
                <td><input type="text" id="txt_when" name="when" value="<%= event.whenWhere %>" placeholder="<%= event.whenWhere %>" required></td>
            </tr>
            <tr>
                <td><label for="txt_description">Description:</label><p>Markdown supported</p></td>
                <td>
                    <textarea id="txt_description" name="description" class="hidden"></textarea>
                    <div class="editor" data-mode="markdown"><%= event.rawDescription %></div>
                </td>
            </tr>
            <tr>
                <td><label for="upload_smallimg">Small image:</label><p>Displayed on the homepage</p></td>
                <td>
                    <div class="preview"></div>
                    <input type="file" id="upload_smallimg" name="small-img" title="Upload your small image"<% if (event.smallImagePath) { %> data-initial="/upload/<%= event.smallImagePath %>"<% } %>>
                </td>
            </tr>
            <tr>
                <td><label for="upload_bigimg">Big image:</label><p>Displayed on the event page</p></td>
                <td>
                    <div class="preview"></div>
                    <input type="file" id="upload_bigimg" name="large-img" title="Upload your large image"<% if (event.bigImagePath) { %>data-initial="/upload/<%= event.bigImagePath %>"<% } %>>
                </td>
            </tr>
            <tr>
                <td><label for="txt_actions">Action links:</label>
                    <p>Format is</p><p><code>font-class, url, text description</code></p></td>
                <td>
                    <textarea id="txt_actions" name="actions" class="hidden"></textarea>
                    <div class="editor" data-mode="plain_text"><%= event.actions %></div>
                </td>
            </tr>
        </table>
        <button type="submit"><% if (newEvent) { %>Create Event<% } else { %>Update Event<% } %></button>
    </form>
</section>