<section class="grey"><div class="column">
    <h2>Recent Activity</h2>
    <div class="activity">
        <% for (var i = 0; i < activities.length; i++) { var activity = activities[i]; %>
        <div class="activity-item"><div class="inner">
            <div class="content">
                <p><strong><%= activity.author %></strong>, <abbr title="<%= activity.time %>"><%= activity.time %></abbr><% for (var j = 0; j < activity.tags.length; j++) { %><span class="tag"><%= activity.tags[j] %></span><% } %></p>
                <% if (activity.title) { %><p><strong><%= activity.title %></strong></p><% } %>
                <%- activity.renderedShortDescription %>
                <p><a href="<%= activity.location %>" title="View on Facebook">See more</a></p>
            </div>
            <div class="bottom">
                <%- activity.footer %>
            </div>
        </div></div>
        <% } %>
    </div>
    <div class="view-more">
        <a href="https://www.facebook.com/groups/WeCodeAlot/" title="CODE Network on Facebook">See more...</a>
    </div>
</div></section>